.container-inner-wrapper {
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    position: relative;
    max-width: 600px;
    padding: 10px;
}

.outer-box {
    border: 1px solid lightgray;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
}

.outer-box input {
    margin: 10px;
}